<div class="row g-5 mb-5">
    <div>
        <h3 class="fw-bold border-bottom pb-3 mb-5">Downloads</h3>
        <table cellpadding="10" cellspacing="10">
            <tr style='text-align:center; vertical-align:middle'>
                <th>Dataset</th>
                <th>Images</th>
                <th>Annotations</th>
            </tr style='text-align:center; vertical-align:middle'>
            {% for item in site.data.downloads.datasets %}
            <tr>
                <td>{{ item.name }}</td>
                <td><a href="{{ item.images }}"><img width="100" height="50" src="{{ item.images_pic }}"></a></td>
                <td><a href="{{ item.annotation }}"><img width="100" height="50" src="{{ item.annotation_pic }}"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>