<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <span class="d-flex align-items-center text-decoration-none">
      <span class="fs-1 fw-bold">{{ site.title }}</span>
    </span>
    <span class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </span>
  </div>
  <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <span class="d-flex align-items-center text-decoration-none">
      <iframe src="https://ghbtns.com/github-btn.html?user=WildChlamydia&repo=MiVOLO&type=star&count=true&size=large"
        frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
    </span>
  </div>
</header>