<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Related Work</h3>

    <p><a href="https://arxiv.org/pdf/1702.03044.pdf">Real-Time Age and Gender Estimation with Transformers from Face
        and Body Images in the Wild. Maksim Kuprashvich, Irina Tolstykh, SberDevices</a></p>
    <br>

    Please, cite us:

    <pre class="highlight"><code>
  @misc{mivolo2023,
    Author = {Maksim Kuprashevich and Irina Tolstykh},
    Title = {MiVOLO: Multi-input Transformer for Age and Gender Estimation},
    Year = {2023},
    Eprint = {arXiv:2307.04616},
  }
      </code></pre>
  </div>
</div>